::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar:window-inactive {
    width: 12px;
}
::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    background: #EEEEEE;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
    background: #CCCCCC;
    border: 1px solid #AAAAAA;
    border-radius: 10px;
}
::-webkit-scrollbar-track:window-inactive {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #EEEEEE;
    border: 1px solid #CCCCCC;
}
::-webkit-input-placeholder {
    color: #999;
}
:-moz-placeholder {
    color: #999;
}
body, html, #wrapper {
    height: 100%;
	width: 100%;
}
body {
	color: #666666;
	padding: 10px;
    margin: 0;
}
body, input:not([type=text]) {
	font: 12px Calibri, Arial, Helvetica, sans-serif;
}
h1 {
	display: inline-block;
	margin-right: 10px;
}
h1, textarea {
	font-family: Calibri, Arial, Helvetica, sans-serif;
}
header {
	/*margin: 0 0 5px 0;*/
}
	header span {
		color: #999999;
		font-size: 12px;
		font-weight: normal;
		letter-spacing: 4px;
	}
input[type=submit] {
	display: block;
	width: 100%;
}
select option { color: black; }
/*select option[value=""] { font-weight: bold; }*/
select option[value=""], .empty { color: gray; }
textarea {
	font-size: 14px;
	height: 200px;
}
#content {
	height: 100%;
}
#wrapper {
	margin: auto;
}
.box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Mobile Ovverides */
/*body.ipad,
body.iphone {
	margin-bottom: 70px;
}*/
.ipad .leaflet-container a.leaflet-popup-close-button,
.iphone .leaflet-container a.leaflet-popup-close-button {
	font-size: 20px;
}
/* Native Overflow Scrolling */
.mobile-touch-overflow {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	-o-overflow-scrolling: touch;
	-ms-overflow-scrolling: touch;
	overflow-scrolling: touch;
}
.mobile-touch-overflow,
.mobile-touch-overflow * {
	/* some level of transform keeps elements from blinking out of visibility on iOS */
	-webkit-transform: rotateY(0);
}

/* Button */

.button {
    background-color: #666666;
    border-bottom: 6px solid #4F4F4F;
    border-width: 0 0 6px 0;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
	float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: 300;
    min-width: 100px;
    padding: 6px 5px 5px;
    text-align: center;
    text-decoration: none;
}
    .button:visited {
        background-color: #3A92D2;
        color: #FFFFFF !important;
    }
	.button:hover,
	.button:active {
		background-color: #4F4F4F;
		border-bottom-color: #302F2F;
	}
    .button:active {
        border-width: 0 0 2px 0;
        margin-top: 4px !important;
    }
    .button.caps {
        text-transform: uppercase;
    }
    .button.small {
        min-height: 18px;
        min-width: 80px;
        padding-top: 4px;
    }
    .button.strong {
        font-weight: bold;
    }

.debug {
	border: 2px dotted #AAAAAA;
	margin: 5px;
}
	.debug div {
		padding: 10px;
	}
	.debug .title {
		display: block;
		font-size: 16px;
		margin-bottom: 10px;
	}
.debug:before {
    background: none repeat scroll 0 0 #F6FFAA;
    border-bottom: 1px solid #AAAAAA;
    content: "Debug Output";
    display: block;
    font-size: 14px;
    font-weight: bold;
	padding: 0 5px;
}

/* jQuery UI Overrides */

.ui-dialog {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
	font-size: 12px;
}
	.ui-dialog .ui-dialog-titlebar {
		font-size: 15px;
		border-radius: 5px 5px 0 0;
		border-width: 0 0 1px;
		margin: -3px -3px 0;
	}
	.ui-dialog .ui-dialog-content {
		font-size: 14px;
		padding: 10px;
	}
		.ui-dialog .ui-dialog-content .ui-icon {
			float: left;
			margin: 0 20px 20px 0;
		}